<?xml version="1.0"?>
<!-- 
/**
 * @file
 * ExtraWatch - A real-time ajax monitor and live stats
 * @package ExtraWatch
 * @version 2.3
 * @revision 2240
 * @license http://www.gnu.org/licenses/gpl-3.0.txt     GNU General Public License v3
 * @copyright (C) 2014 by CodeGravity.com - All rights reserved!
 * @website http://www.extrawatch.com
 */
 -->
<config>
    <modules>
        <CodeGravity_ExtraWatch>
            <version>2.3.2240</version>
        </CodeGravity_ExtraWatch>
    </modules>
    <frontend>
        <layout>
            <updates>
                <extrawatch>
                    <file>extrawatch.xml</file>
                </extrawatch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <extrawatch>
                <use>admin</use>
                <args>
                    <module>CodeGravity_ExtraWatch</module>
                    <frontName>extrawatch</frontName>
                </args>
            </extrawatch>
        </routers>
    </admin>
    <global>
        <models>
            <extrawatch>
                <class>CodeGravity_ExtraWatch_Model</class>
                <resourceModel>extrawatch_mysql4</resourceModel>
            </extrawatch>
            <extrawatch_mysql4>
                <class>CodeGravity_ExtraWatch_Model_Mysql4</class>
                <entities>
                    <extrawatch>
                        <table>extrawatch</table>
                    </extrawatch>
                </entities>
            </extrawatch_mysql4>
        </models>
        <resources>
            <extrawatch_setup>
                <setup>
                    <module>CodeGravity_ExtraWatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extrawatch_setup>
            <extrawatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extrawatch_write>
            <extrawatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extrawatch_read>
        </resources>
        <blocks>
            <extrawatch>
                <class>CodeGravity_ExtraWatch_Block</class>
            </extrawatch>
        </blocks>
        <helpers>
            <extrawatch>
                <class>CodeGravity_ExtraWatch_Helper</class>
            </extrawatch>
        </helpers>
    </global>
</config>

